
  
<div class="card text-center">
    <div class="card-header">
        Please sign up or try to re login again!!!
    </div>
    <div class="card-body">
        <h5 class="card-title">401</h5>
        <p class="card-text">It seem's you are unauthorized!!!'</p>
        <a href=@Url.Action("SignUp","Account") class="btn btn-primary">Sign Up</a>
    </div>
    <div class="card-footer text-body-secondary">
       Mero Ecommerce
    </div>
</div>