@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center backgroundBroadway">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Are you a new user?</h5>
            <p class="card-text">Please click below to sign up!!</p>
            <a href="@Url.Action("Signup","Home")" class="btn btn-primary">Signup</a>
        </div>
    </div>


</div>

