html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.backgroundBroadway {
    background-image: url(../images/LandingPage1.jpg);
    background-size: cover; /* Cover the entire element while maintaining aspect ratio */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 100vh;
    max-height: 80vh; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds max-height */
    padding: 20px; /* Add padding as needed for spacing */
}